<fieldset>
  <legend><%= l(:xmpp_label_connection_settings) %></legend>
  <p>
    <label><%= l(:xmpp_label_jid) %></label>
    <%= text_field_tag "settings[jid]", @settings["jid"] %>
  </p>
  
  <p>
    <label><%= l(:xmpp_label_password) %></label>
    <%= password_field_tag "settings[jidpassword]", @settings["jidpassword"] %>
  </p>
</fieldset>
<fieldset>
  <legend><%= l(:xmpp_label_notification_settings) %></legend>
  <p>
    <label><%= l(:xmpp_label_send_to_watchers) %></label>
    <%= check_box_tag "settings[send_to_watchers]", true, @settings["send_to_watchers"] %>
  </p>
  <p>
    <label><%= l(:xmpp_label_use_sidekiq) %></label>
    <%= check_box_tag "settings[use_sidekiq]", false, @settings["use_sidekiq"] %>
  </p>
</fieldset>
